<nav class="home-header navbar navbar-dark bg-dark">
  <%= link_to "Home", root_path, id: "home", class: "navbar-brand" %>
  <ul class="navbar-nav">
    <li class="nav-item home-header-item">
      <%= link_to "Clinic Trials", clinic_trials_path, id: "clinic_trial", class: "navbar-link" %>
    </li>
  </ul>
</nav>